.container {
  text-align: center;
  font-family: 'Arial', sans-serif;
  padding: 70px;
}

.title {
  font-size: 35px;
  margin-bottom: 50px;
  font-weight: bold;
}

.logoImage {
  width: 200px;
  height: 47px;
  margin-right: 5px;
}

.features {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.feature {
  margin: 0 auto;
  text-align: center;
  margin-right: 60px;
}

.featureImage {
  width: 300px;
  height: 350px;
  margin-bottom: 20px;
}

.featureTitle {
  font-size: 30px;
  font-weight: bold;
  color: #333;
}

.infoContainer {
  display: flex;
  flex-direction: column;
}

.sttImage {
  margin: 0 auto;
  width: 1000px;
}

.nlpImage {
  width: 460px;
  display: flex;
  justify-content: start;
  margin-left: 150px;
  margin-top: 25px;
}

.description {
  font-size: 27px;
  color: #000000;
  font-weight: bold;
  line-height: 1.7;
  margin-bottom: 20px;
  margin-top: 100px;
}

