.kkk{
  margin-top: 160px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  font-family: Arial, sans-serif;
}

.pageTitle {
  font-size: 36px;
  font-weight: bold;
  text-align: start;
  margin-bottom: 30px;
  padding: 20px;
  border-radius: 10px;
}
.mainContainer {
  width: 100%;
  border: 2px solid #c2c2c2;
  border-radius: 10px;
  position: relative;
  padding: 20px;
  margin-bottom: 60px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  
}

.boxContainer {
  background-color: #f5f7fa; /* 박스 배경색 */
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 30px;
  
}

.maintitleContainer {
  position: absolute;
  top: -25px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #007bff;
  padding: 5px 20px;
  border: 3px solid #c2c2c2;
  border-radius: 30px;
}

.maintitle {
  color: white;
  background-color: #007bff;
  font-weight: bold;
  font-size: 18px;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.mainResult {
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.sameHeight {
  height: 100%; /* 영상 분석과 영상 다시보기 높이 동일하게 */
}

.titleContainer {
  margin-bottom: 20px;
}

.title {
  text-align: center;
  background-color: #eaf1ff;
  color: #007bff;
  font-weight: bold;
  padding: 10px;
  border-radius: 10px;
}

.analysisGrid {
  margin-top: 20px;
}

.equalHeight {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 250px; /* 원하는 세로 높이를 설정 */
}

.resultBox {
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  border: 3px solid #c3dafd;
  height: auto;
}

.resultTitle {
  color: #007bff;
  font-weight: bold;
  margin-bottom: 5px;
  
}

.resultTitles {
  color: #cf0202;
  font-weight: bold;
  margin-bottom: 10px;
}

.resultText {
  font-size: 16px;
  color: #333;
  margin-bottom: 10px; /* 각 텍스트 항목 사이의 여백 */
  height:auto;
  padding-top: 0;
}

.resultVoice {
  font-size: 16px;
  color: #cf0202;
  font-weight: bold;
  margin-bottom: 10px; /* 각 텍스트 항목 사이의 여백 */
  height: auto;
  padding-top: 0;
}

.subText {
  font-size: 12px;
  color: #999;
  margin-top: 10px;
}

.circularProgress {
  position: absolute;
}

.timeText {
  font-size: 18px;
  font-weight: bold;
  color: #007bff;
}

.videoPlayerContainer {
  margin-top: 20px;
}

.videoPlayer {
  width: 100%;
  max-width: 600px;
  height: auto;
  border: 1px solid #c3dafd;
  border-radius: 10px;
}

/* 표정 분석 섹션 */
.chartSection {
  width: 100%;
  margin-top: 40px;
}

.chartTitle {
  color: #007bff;
  font-weight: 900;
  text-align: center;
  background-color: #eaf1ff;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 20px !important;/* 여백 추가 */
  margin-top: 20px; /* 추가된 여백 */
}

.chartGrid {
  display: flex;
  justify-content: space-between;
    align-items: flex-start;
}

.chartBox {
  background-color: #ffffff;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  border: 3px solid #c3dafd;
  flex: 1; /* 부모 컨테이너의 높이를 채움 */
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* 아이템들이 위아래로 균등하게 배치됨 */
  width: 100%; /* 너비를 내용에 맞춰 조정 */
}

.voiceHzContent {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.VoiceChartBox {
  background-color: #ffffff;
  border-radius: 10px;
  padding: 20px;
  border: 3px solid #c3dafd;
  flex: 1; /* 부모 컨테이너의 높이를 채움 */
  display: flex;
  justify-content: space-between; /* 아이템들이 위아래로 균등하게 배치됨 */
  width: 100%; /* 너비를 내용에 맞춰 조정 */
  flex-direction: row; /* 가로로 배치 */
  align-items: center;
}

.chartLabel {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #666;
}

.chartImage {
  width: 100%;
  height: auto;
  margin-bottom: 10px; /* 이미지 아래에 여백 추가 */
}

.voiceHzChartImage {
  width: 50%;
  height: auto;
  margin-bottom: 10px; /* 이미지 아래에 여백 추가 */
}

.chartText {
  font-size: 16px;
  color: #333;
  text-align: left;
}

.resultSummaryBox {
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
}

.mainResultSummary {
  background-color: white;
  border: 3px solid #007BFF;
  padding: 20px;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.modalBox {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  height: 50%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fullscreenImage {
  max-width: 100%;
  max-height: 100%;
}


/* 문법 및 키워드 분석 */
.monMainContainer {
  padding: 20px;
  background-color: #f5f7fa;
  border-radius: 10px;
}

.monGridContainer {
  display: flex;
  justify-content: space-between;
}

.monBoxContainer {
  background-color: #ffffff;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  border: 2px solid #ddd;
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* 수정 */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}


.monChartTitle {
  font-size: 18px;
  font-weight: bold;
  color: #4a90e2;
  background-color: #f1f1f1;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.monChartImage {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
}

.monChartLabel {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #666;
}

.monSubtext {
  font-size: 12px;
  color: #999;
  margin-top: 10px;
}





.flexContainer {
  display: flex;
  justify-content: space-between; /* 좌우로 배치 */
  align-items: stretch;/* 상단 맞춤 */
}

.voiceHzChartImage {
  width: 40%; /* 이미지를 원하는 크기로 조절 */
  margin-right: 20px; /* 텍스트와 이미지 사이에 간격 */
}

.monTextContainer {
  flex: 1; /* 텍스트 컨테이너가 남은 공간을 채우도록 */
  display: flex;
  flex-direction: column; /* 텍스트가 위아래로 쌓이도록 */
  justify-content: center; /* 텍스트 가운데 정렬 */
}


